arrow==0.12.1
atomicwrites==1.2.1
attrs==18.2.0
base58==1.0.2
bcrypt==3.1.4
blinker==1.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.7
cryptography==1.7.1
dnspython==1.15.0
docker-py==1.8.0
ecdsa==0.13
Electrum==3.2.3
flake8==3.6.0
Flask==1.0.2
funcsigs==1.0.2
future==0.17.1
httplib2==0.19.0
idna==2.7
importlib-metadata==0.7
itsdangerous==1.1.0
Jinja2==2.10
jsonrpcclient==2.0.1
jsonrpclib-pelix==0.3.2
jsonrpcserver==3.1.1
jsonschema==2.6.0
keyring==10.1
keyrings.alt==1.3
MarkupSafe==1.1.0
mccabe==0.6.1
mnemonic==0.13
more-itertools==4.3.0
path.py==11.5.0
pathlib2==2.3.3
pbkdf2==1.3
pexpect==4.6.0
pluggy==0.8.0
protobuf==3.0.0a3
psycopg2-binary==2.7.6.1
ptyprocess==0.6.0
py==1.7.0
pyaes==1.6.1
pyasn1==0.1.9
pycodestyle==2.4.0
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.7.2
pycryptodomex==3.7.2
pycurl==7.43.0
pyflakes==2.0.0
pygobject==3.22.0
pyinotify==0.9.6
pyOpenSSL==16.2.0
PySocks==1.6.8
pytest==4.0.1
python-apt==1.4.0b3
python-dateutil==2.7.5
python-debian==0.1.30
python-debianbts==2.6.1
pywallet==0.1.0
pyxdg==0.25
PyYAML==3.13
QDarkStyle==2.6.4
qrcode==6.0
reportbug==7.1.7
requests==2.20.1
SecretStorage==2.3.1
sha256==0.1
simplejson==3.10.0
six==1.11.0
SQLAlchemy==1.2.14
stdeb==0.8.5
stem==1.5.3
tabulate==0.8.2
two1==3.10.9
typing==3.6.6
urllib3==1.24.1
websocket-client==0.54.0
Werkzeug==0.14.1
WTForms==2.2.1
