{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<div class="columns push-top">
    <div class="column is-8 is-offset-2">
        <div class="columns is-multiline">
            <div class="column is-full is-sm-padding">
                <span class="is-work-sans subtitle has-text-white"><i class="fa fa-cogs"></i>&nbsp;Your key list.</span>
                <a href="/" class="is-pulled-right button is-small is-rounded is-warning">Cancel</a>
            </div>
            <div class="column is-full">
                <hr>
            </div>
            <!-- add foreach -->
            <div class="column is-full">
                <article class="message">
                    <div class="message-header">
                        <p>Create New Donation</p>
                    </div>
                    <div class="message-body">
                        <form action="" method="post">
                            <label class="has-text-weight-semibold">Title for key</label>
                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" name="title" type="text"
                                           placeholder="Title for keys">
                                </p>
                            </div>
                            <label class="has-text-weight-semibold">Master Public Key</label>
                            <div class="field">
                                <p class="control is-expanded">
                                    <input class="input" name="mpk" type="text"
                                           placeholder="Enter your master public key">
                                </p>
                            </div>
                            {% if error %}
                                <p style="margin-bottom:12px;" class="has-text-danger">{{ error }}</p>
                            {% endif %}
                            <div class="field">
                                <button class="button is-success">Create</button>
                            </div>
                        </form>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
{% endblock %}
